.overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.318);
    backdrop-filter: blur(4px);
    z-index: 99;
    cursor: pointer;
    color: white;
    font-size: 30px;
    border: 5px solid blue;
}

img {
    background-size: cover;
    background-position: center;
    width: 64px;
    height: 64px;
}

.title {
    width: auto;
    background-color: #931914;
    color: #ffffff;
    padding: 10px 30px 10px 30px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}


th {
    background-color: #931914;
    color: #ffffff;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

td {
    color: #000000;
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
}

table {
    width: 100%;
}

table,
th,
td {
    padding: 5px;
    border: 2px solid white;
    border-collapse: collapse;
}

th.foto {
    width: 8%;
}

th.nome {
    width: 20%;
}

th.idade {
    width: 6%;
}

th.formacao {
    width: 10%;
}

th.email {
    width: 20%;
}

th.celular {
    width: 8%;
}

th.curso {
    width: 20%;
}

td.foto,
td.mais {
    padding: 0;
    text-align: center;
}

tr {
    transition: 0.2s ease-in-out;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}

tr:hover {
    background-color: #ff080034;
}

html,
body {
    margin: 0;
    padding: 0;
}

input {
    font: bold 25px Arial;
    color: #ffffff;
    background-color: #931914;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

input:hover {
    background-color: #dc251f;
}

input:active {
    position: relative;
    top: 1px;
}

* {
    overflow-x: hidden;
    border: 0px dashed blueviolet;
}

#search {
    width: 10%;
    font-size: 1.2rem;
    background-color: white;
    color: #931914;
    padding: 15px 0px 15px 40px;
    border: none;
    text-decoration: none;
    border-radius: 0px;
}

#search:focus {
    background-color: rgba(0, 0, 0, 0.073);
    outline: none;
    transition: 0.2s ease-in-out;
}