header{
  margin-left: -40px;
  margin-right: -40px;
  background-color: #931914;
  color: #ffffff;
  padding: 5px;
  font-family: 'Times New Roman', Times, serif;
}

.logo {
  display:flex;
  flex-flow: row nowrap;
  justify-content: center;
	align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 5px solid red;
}

.menu{

}

img{
  width: 15%;

}

#bg {
  position: absolute;
  top: 0;
  left: 50%; 
  transform: translate(-50%);
}

.titlePadding {
  margin-top: 120px;
  margin-bottom: 30px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 1.375rem;
  font-weight: 600;
  color: rgb(51, 51, 51);
}

#bgFzl {
  width: 100%;
  height: auto;
}

/* Remove as setas do input number no Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove as setas do input number no Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#conteudo {
  font-family: Verdana, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "sans-serif";
}

#primeiroSemPos {
  margin-left: 1em;
  margin-top: 8px
}

#segundoSemPos {
  margin-top: 8px
}

#btnInfo {
  padding: 5em;
}

#justifiedText {
  text-align: justify;
}

.title {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 1.375rem;
  font-weight: 600;
  color: rgb(51, 51, 51);
}

.relativeClass {
  position: relative;
  text-align: justify;
}

.labelAlignLeft {
  text-align: left;
}

.textAlignJustify {
  text-align: justify;
}

.tuiibox {
  display: block;
  padding: 1em;
  margin: 2em;
  border: 3px solid #ddd;
  background-color: #eee;
  max-width: 800px;
}

.inputTuiibox {
  height: 1.5em;
  width: 1.5em;
  vertical-align: middle;
}

.charLimitFontSize {
  font-size: small;
  padding-bottom: 40px;
}

#bgTecnologoSucesso {
  background-image: url("imagens/bg_tds.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 10em;
}

#fotoTecnologo {
  /*border: 4px solid transparent;
    background-image: linear-gradient(white, white), linear-gradient(to right, rgb(255, 0, 0), rgb(48, 55, 95));*/
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 50%;
  position: relative;
  justify-content: center;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}

#dadosTecnologoPos {
  text-align: right;
  margin: auto;
  width: 50%;
  padding: 10px;
}

#logos {
  text-align: center; 
}

.logofatec {
  display: inline-block;
  width: 150px; 
  height: auto; 
  margin: 10px; 
}

.textCentering {
  justify-content: center;
  text-align: justify;
  font-size: large;
}

.textLarge {
  font-size: large;
}

.subTituloPos {
  padding-bottom: 1em;
  justify-content: center;
  text-align: center;
}

.infoPos {
  padding-bottom: 1em;
  padding-left: 6em;
  padding-right: 6em;
  justify-content: center;
  text-align: center;
}

#dicaPos {
  padding-left: 5em;
  padding-top: 3em;
  font-size: small;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-item.active {
  display: block;
}

#bgListaTecnologos {
  background-image: url("imagens/bg_tds.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 10em;
}

.fotoTecnologoTabela {
  width: 100%;
  height: auto;
}

::-webkit-scrollbar {
	width: 13px;
}

::-webkit-scrollbar-track {
	background: #e3e3e3;
}

::-webkit-scrollbar-thumb {
	background: #565656;
	height: 15%;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #a1a1a1;
}