:root {
  scroll-behavior: smooth;

  --light-main: #7E0000;
  --light-main-hover: #7E0000CC;
  --light-bg: #FFFFFF;
  --light-h1: #000000;
  --light-h2: #666666;
  --light-shadow: #00000022;
  --light-tooltip: #FF4C4D;
  --light-input-hover: #EEEEEE;

  --dark-main: #b3b3b3;
  --dark-main-hover: #b3b3b3cc;
  --dark-bg: #000000;
  --dark-h1: #b3b3b3;
  --dark-h2: #979797;
  --dark-shadow: #ffffff22;
  --dark-tooltip: #b3b3b3;
  --dark-input-hover: #111111;
}

* {
  border: 1px dashed red;
}

body {
  background-color: var(--bg);
  transition: 0.2s ease-out;
}

div {
  padding: 5px;
}

div.formulario {
  transition: 0.2s ease-out;
  border-radius: 30px;
  padding: 30px;
  padding-top: 16px;
  box-shadow: 0px 4px 20px 0px var(--shadow);
  background-color: var(--bg);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 52px;
  margin-bottom: 52px;
}

img {
  width: 240px;
  height: 240px;
  border: 0;
  padding: 10px;
}

.floatL {
  float: left;
}

.floatR {
  float: right;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 44px;
  font-weight: 500;
  text-align: center;
  color: var(--h1);
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  line-height: 28px;
  color: var(--h1);
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
  line-height: 28px;
  color: var(--h2);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
}

.modal-content {
  position: absolute;
  top: 45%;
  left: 50%;
  background-color: var(--bg);
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0px 4px 20px 0px var(--shadow);
  animation: var(--appear);
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #e3e3e3;
}

::-webkit-scrollbar-thumb {
  background: #565656;
  height: 15%;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1;
}

.icon {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  padding: 4px;
  margin: 4px;
  transition: 0.2s ease-out;
}

.carousel-container {
  border: 2px solid red;
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform .4s cubic-bezier(0.15, 0.75, 0.55, 1.25);
}

.carousel-item {
  word-wrap: break-word;
  border: 2px solid green;
  flex: 0 0 100%;
  min-width: 100%;
  text-align: center;
}

.btn {
  cursor: pointer;
  border-radius: 30px;
  background-color: var(--main);
  color: var(--bg);
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  font-weight: 500;
  padding: 5px 15px 5px 15px;
  margin: 5px;
  transition: 0.2s ease-out;
  z-index: 999;
}

.btn:hover {
  background-color: var(--main-hover);
}

:disabled,
:disabled:hover {
  background-color: var(--h2);
  color: var(--h1);
  cursor: not-allowed;
}

.sticky {
  z-index: 999;
  position: sticky;
  top: 0;
}

.textos{
  background-color: rgba(255, 0, 0, 0.182);
  font-style: italic;
}