html,
body {
    margin: 0;
}

.foto {
    margin: 0;
    padding: 0;
    border-radius: 0;
    width: 80px;
    height: 80px;
}

.foto2 {
    margin: 0;
    padding: 0;
    border-radius: 0;
    width: 240px;
    height: 240px;
}

.green {
    width: 26px;
    height: 26px;
    background-color: #3ACF1F;
}

.green:hover {
    background-color: #3ACF1FCC;
}

.yellow {
    width: 26px;
    height: 26px;
    background-color: #e7d800;
}

.yellow:hover {
    background-color: #e7d800CC;
}

.red {
    width: 26px;
    height: 26px;
    background-color: #D32719;
}

.red:hover {
    background-color: #D32719CC;
}

.title {
    font-family: 'Roboto Slab', serif;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    line-height: 50px;
    background-color: var(--main);
    color: var(--bg);
}

table,
th,
td {
    transition: .2s ease-out;
    padding: 5px;
    border: 2px solid var(--bg);
    border-collapse: collapse;
}

th {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    background-color: var(--main);
    color: var(--bg);
}

td {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    line-height: 28px;
    color: var(--h2);
}

table {
    width: 100%;
}


tr {
    transition: 0.2s ease-out;
}

tr:hover {
    background-color: var(--input-hover);
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
    line-height: 28px;
    color: var(--h2);
}

.center {
    text-align: center;
}

.formInput {
    width: auto;
    margin-bottom: 0;
}

.container {
    position: relative;
    margin-bottom: 40px;
}

.highlighted {
    background-color: #FFC24C;
}

.modal-content {
    max-width: 70%;
    height: auto;
}

td.foto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.textos {
    word-wrap: break-word;
    font-style: italic;
  }